.ammonite-custom-popup-container {
  /* Initial display property is initially set to "none" inline, this inline style is then removed by the script at the appropriate time */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.ammonite-custom-popup-main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: min-content;
  width: 800px;
  background-color: white;
  cursor: default;
}
.ammonite-custom-popup-left-section {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: #69be69;
}
.ammonite-custom-popup-left-section image {
  object-fit: contain;
}
.ammonite-custom-popup-right-section {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
}
.ammonite-custom-popup-right-section-text {
  flex-basis: 100%;
  padding: 15px 40px 15px 0;
}
.ammonite-custom-popup-right-section-form {
  flex-basis: 100%;
  margin-bottom: 35px;
}
.ammonite-custom-popup-right-section-form label {
  display: none;
}
.ammonite-custom-popup-right-section-form input {
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.ammonite-custom-popup-right-section-form .infusion-submit {
  margin-top: 10px;
}
.ammonite-custom-popup-right-section-form .infusion-submit button {
  margin-right: 5px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.ammonite-custom-popup-right-section-form .ammonite-custom-popup-button-exit {
  background-color: #b7b7b7;
}

@media screen and (max-width: 800px) {
  .ammonite-custom-popup-container {
    display: none;
  }
}
