.ammonite-custom-popup-container {
  /* Initial display property is initially set to "none" inline, this inline style is then removed by the script at the appropriate time */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.ammonite-custom-popup-main {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 3fr;
  height: min-content;
  width: 700px;
  background-color: white;
  cursor: default;
}
.ammonite-custom-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 200ms linear;
}
.ammonite-custom-popup-close-button:hover {
  background: #69be69;
}
.ammonite-custom-popup-close-button path {
  fill: #69be69;
  transition: fill 200ms linear;
}
.ammonite-custom-popup-close-button:hover path {
  fill: #fff;
}
.ammonite-custom-popup-left-section {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: #69be69;
}
.ammonite-custom-popup-left-section image {
  object-fit: contain;
}
.ammonite-custom-popup-right-section {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 35px;
}
.ammonite-custom-popup-right-section-text {
  flex-basis: 100%;
  padding: 25px 55px 15px 0;
}
.ammonite-custom-popup-right-section-text img {
  object-fit: contain;
  object-position: left;
  max-height: 100px;
}
.ammonite-custom-popup-right-section ._inline-form {
  flex-basis: 100%;
  margin-bottom: 35px;
  padding: 0;
}
.ammonite-custom-popup-right-section ._inline-form input {
  margin-bottom: 10px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.ammonite-custom-popup-right-section ._inline-form ::placeholder {
  color: #616161;
}
.ammonite-custom-popup-right-section ._inline-form button {
  margin-right: 5px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.ammonite-custom-popup-right-section ._inline-form .ammonite-custom-popup-button-exit {
  background-color: #b7b7b7;
}
.ammonite-custom-popup-left-section-logo img {
  object-fit: contain;
  object-position: left;
  max-height: 50px;
}

@media screen and (max-width: 800px) {
  .ammonite-custom-popup-container {
    display: none;
  }
}
